# Contains the discord bot token. should not be on a git repo and only be local
Discord_Bot/token_disc.py
token_disc.py

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

venv/
env/
ENV/

class_requests.json

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
